*{
  box-sizing: border-box;
  padding: 0;
  /* margin: 0; */
  max-width: 100%;
}

body{
  background: #efefef;
  font-family: ;
  color: #444;
  text-align: center;
  margin: 1rem;
}
.opration_btns{
  position: absolute;
  left: 0;
}


.opration-btns{
  position: absolute;
  left: 0;
}